@model MVCOkulYonetimi.Data.Models.Entities.Ogrenci
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Öğrenci Güncelleme</h2>

@using (Html.BeginForm("Guncelle", "Ogrenci", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Ad)
        @Html.TextAreaFor(x => x.Ad, new { @class = "form-control" })

        @Html.LabelFor(x => x.Soyad)
        @Html.TextAreaFor(x => x.Soyad, new { @class = "form-control" })

        @Html.LabelFor(x => x.Sinif)
        @Html.TextAreaFor(x => x.Sinif, new { @class = "form-control" })

        @Html.LabelFor(x => x.OgretmenId)
        @Html.TextAreaFor(x => x.OgretmenId, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(x => x.Id)
    <br />
    <button type="submit" class="btn btn-success">Öğrenciyi Güncelle</button>
}


